<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Blockly Arduino</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/blockly/blockly_compressed.js"></script>
    <script src="https://unpkg.com/blockly/blocks_compressed.js"></script>
    <script src="https://unpkg.com/blockly/msg/en.js"></script>

    <script src="/static/generator.js"></script>
    <script src="/static/blocks.js"></script>


    <style>
        html,
        body {
            height: 100%;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }

        #blocklyDiv {
            height: 100vh;
            width: 100vw;
        }
    </style>
</head>

<body>
    <div id="blocklyDiv"></div>
    <xml id="toolbox" style="display: none">
        <category name="Digital & Analog I/O" colour="230">
            <block type="arduino_digital_write"></block>
            <block type="arduino_digital_read"></block>
            <block type="arduino_analog_write"></block>
        </category>
        <category name="Math & Logic" colour="230">
            <block type="number_input"></block>
            <block type="arduino_math"></block>
        </category>
        <category name="Loops & Control" colour="120">
            <block type="arduino_repeat"></block>
        </category>
        <category name="Serial Communication" colour="160">
            <block type="arduino_serial_begin"></block>
            <block type="arduino_serial_print"></block>
        </category>
        <!--Vairables and functions-->
        <category name="Variables" colour="330">
            <block type="variables_set"></block>
            <block type="variables_get"></block>
            <block type="variables_declare"></block>
        </category>
        <category name="Functions" colour="290">
            <block type="procedures_defnoreturn"></block>
            <block type="procedures_callnoreturn"></block>
            <block type="procedures_ifreturn"></block>
            <block type="procedures_ifreturn_check"></block>
        </category>
    </xml>

    <script>
        const workspace = Blockly.inject('blocklyDiv', {
            toolbox: document.getElementById('toolbox'),
            scrollbars: true,
            trashcan: true
        });
        var xmlText = '<xml>' +
            '<block type="arduino_setup" x="50" y="50"></block>' +
            '<block type="arduino_loop" x="50" y="150"></block>' +
            '</xml>';

        var xml = Blockly.utils.xml.textToDom(xmlText);
        Blockly.Xml.domToWorkspace(xml, workspace);
    </script>
</body>

</html>