<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Blockly IDE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Blockly core and blocks from npm -->
    <script src="/static/blockly/blockly_compressed.js"></script>
    <script src="/static/blockly/blocks_compressed.js"></script>
    <script src="/static/blockly/javascript_compressed.js"></script>
    <script src="/static/blockly/msg/en.js"></script>
    <script src="/static/blocks.js"></script>


    <style>
        html,
        body {
            height: 100%;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }

        #blocklyDiv {
            height: 100vh;
            width: 100vw;
        }
    </style>
</head>

<body>
    <div id="blocklyDiv"></div>
    <xml id="toolbox" style="display: none">
        <category name="Logic" colour="210">
            <block type="controls_if"></block>
            <block type="logic_compare"></block>
            <block type="logic_operation"></block>
            <block type="logic_negate"></block>
            <block type="logic_boolean"></block>
            <block type="logic_null"></block>
            <block type="logic_ternary"></block>
        </category>
        <category name="Loops" colour="120">
            <block type="controls_repeat_ext"></block>
            <block type="controls_whileUntil"></block>
            <block type="controls_for"></block>
            <block type="controls_forEach"></block>
            <block type="controls_flow_statements"></block>
        </category>
        <category name="Math" colour="230">
            <block type="math_number"></block>
            <block type="math_arithmetic"></block>
            <block type="math_single"></block>
            <block type="math_trig"></block>
            <block type="math_constant"></block>
            <block type="math_number_property"></block>
            <block type="math_round"></block>
            <block type="math_on_list"></block>
            <block type="math_modulo"></block>
            <block type="math_constrain"></block>
            <block type="math_random_int"></block>
            <block type="math_random_float"></block>
        </category>
        <category name="Text" colour="160">
            <block type="text"></block>
            <block type="text_join"></block>
            <block type="text_append"></block>
            <block type="text_length"></block>
            <block type="text_isEmpty"></block>
            <block type="text_indexOf"></block>
            <block type="text_charAt"></block>
            <block type="text_getSubstring"></block>
            <block type="text_changeCase"></block>
            <block type="text_trim"></block>
            <block type="text_print"></block>
        </category>
        <category name="Variables" colour="330" custom="VARIABLE"></category>
        <category name="Functions" colour="290" custom="PROCEDURE"></category>
    </xml>
    <script>
        const workspace = Blockly.inject('blocklyDiv', {
            toolbox: document.getElementById('toolbox'),
            scrollbars: true,
            trashcan: true
        });
    </script>
</body>

</html>